@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


// global font sizes
h1 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.02rem;
}

a {
    font-size: 1.02rem;
}