// Global initialization
@mixin initialize {
  * {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0px;
    margin: 0px;
    color: $white;
    font-family: 'Abel', sans-serif;
    font-size: 1.02em;
  }
}



// Paralax effect for home page only
@mixin paralax {
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    position: relative;
  }

  .parallax__layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  // Forward layer for the parallax effect (every element except the background image)
  .parallax__layer--forward {
    justify-content: space-between;
    transform: translateZ(0);
    min-height: 250%;
  }

  // Background layer for the parallax effect (only the background image)
  .parallax__layer--back-home {
    transform: translateZ(-1px) scale(2);
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: top;
    min-height: 200%;
  }

}




// Navigation dropdown and menu bar 
@mixin nav {
  #hamnav label {
    display: inline-block;
    color: $white;
    background: $orange;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  // Break down menu items into vertical 
  #hamitems {
    a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid $grey;
      text-align: center;
      padding: 10px;
      text-decoration: none;
    }
  }

  // Toggle Show/Hide Menu 
  #hamitems {
    display: none;
  }

  #hamnav input:checked~#hamitems {
    display: flex;
    flex-direction: column;
  }

  #hamnav {
    width: 100%;
    background: $black;
    top: 0;

    a {
      &:hover {
        letter-spacing: .5em;
        background: $orange;
        letter-spacing: .15em;
        transition: letter-spacing .7s;
      }
    }
  }

  #hamburger {
    display: none;
  }
}





// Navigation becomes row for media query when screen is big
@mixin drop-down-menu {

  // Hide Hamburger 
  #hamnav label,
  #hamburger {
    display: none;
  }

  // Horizontal Menu Items 
  #hamitems {
    display: flex;
    flex-direction: row;

    a {
      width: 16.666%;
      padding: 10px;
      color: $white;
      text-decoration: none;
      text-align: center;

      &:hover {
        background: $orange;
        letter-spacing: .15em;
        transition: letter-spacing .7s;
      }
    }
  }
}