// Colours used
$orange: rgb(192, 70, 13);
$white: rgb(238, 238, 238);
$black: rgba(0, 0, 0, 1);
$grey: #333;
$transparent_grey: rgba(53, 53, 53, 0.82);

// shadow
$box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
