@import 'partials/_fonts';
@import 'partials/_variables';
@import 'partials/_mixins';


* {
  box-sizing: border-box;
  margin-top: 0;
  // border: 1px solid green;
  padding: 0px;
  margin: 0px;
  color: $white;
}

body {
  font-family: 'Abel', sans-serif;
  height: 100vh;
  color: $white;
  padding: 0px;
  margin: 0px;
}

.parallax {
  display: flex;
  flex-direction: column;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  position: relative;
}
.parallax__layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  // padding: 100vh 0px;
}
.parallax__layer--forward {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateZ(0);
  // flex-grow: 1;
  height: 250%;

}
.parallax__layer--back-code {
  transform: translateZ(-1px) scale(2);
  background-image: url("/src/images/back2.jpg");
  background-size: cover;
  background-position: center;

  // flex-grow: 1;
  height:200%;

}
.parallax__layer--back-home {
  transform: translateZ(-1px) scale(2);
  background-image: url("/src/images/back1.jpg");
  background-size: cover;
  background-position: center;
  background-position: top;
  // flex-grow: 1;
  height:200%;

}

#hamnav label {
  display: inline-block;
  color: $white;
  background: $orange;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}

/* Break down menu items into vertical */
#hamitems {
  a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid $grey;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }


}

/* Toggle Show/Hide Menu */
#hamitems {
  display: none;
}

#hamnav input:checked~#hamitems {
  display: block;
}

#hamnav {
  width: 100%;
  background: $black;
  top: 0;

  a {
    &:hover {
      letter-spacing: .5em;
      background: $orange;
      letter-spacing: .15em;
      transition: letter-spacing .7s;
    }
  }
}

#hamburger {
  display: none;
}
header {
  .title-box-home {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, $transparent_grey 10%, $black 30%, $black 100%);
  margin-left: 30%;
  margin-right: 0px;
  margin-top: 5%;
  margin-bottom: 50%;
  text-align: center;
  border-radius: .3em;
  animation-name: fade-in;
  animation-duration: 4s;

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.5em;
  }

  h2 {
    font-size: 2rem;
  }
}
  .title-box {

    text-align: center;
    vertical-align: middle;
    background: $gradient;
    box-shadow: $box-shadow;
    display: flex;
    transition: letter-spacing 1s;
    width: 300px;
    margin: 25px auto 25px;
    text-align: center;
    border-radius: .2em;

    h1 {
      font-size: 2rem;
      margin: auto;
      text-align: center;
    }

  }
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // min-height: 100vh;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;

  section {

    article {
      border-radius: .7em;
      box-shadow: $box-shadow;
      background: $gradient;
      margin: 35px auto;
      width: 80%;

      h3 {
        padding: 5px;
        color: $white;
      }

      img {
        max-width: 90%;
      }

      p {
        max-width: 90%;
        text-align: center;
        margin: auto;

      }
    }
  }
}

.main-home {
  height: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-link {
    text-align: center;
    vertical-align: middle;
    background: $gradient;
    height: 150px;
    box-shadow: $box-shadow;
    display: flex;
    transition: letter-spacing 1s;

    &:hover {
      letter-spacing: .5em;
    }

    p {
      margin: auto;
      text-align: center;
      font-size: 150%;

      a{
        text-decoration: none;
      }
    }
  }
}

@include footer;

// Tablet and above size
@media screen and (min-width: 600px) {
  @include drop-down-menu;

  main {

    section {
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 45%;

      }
    }
  }
}