@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0;
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Abel', sans-serif;
}

.parallax {
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  position: relative;
}

.parallax__layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.parallax__layer--forward {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  min-height: 250%;
}

.parallax__layer--back-home {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-position: top;
  min-height: 200%;
}

#hamnav label {
  display: inline-block;
  color: white;
  background: #c0460d;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}

#hamitems {
  list-style-type: none;
}

#hamitems li a {
  display: block;
  width: 100%;
  border-top: 1px solid #333;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#hamitems {
  display: none;
}

#hamnav input:checked ~ #hamitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hamnav {
  width: 100%;
  background: black;
  top: 0;
}

#hamnav a:hover {
  letter-spacing: .5em;
  background: #c0460d;
  letter-spacing: .15em;
  -webkit-transition: letter-spacing .7s;
  transition: letter-spacing .7s;
}

#navigation-menu {
  display: none;
}

.web-body {
  background-image: url("../images/web.jpg");
}

.code-body {
  background-image: url("../images/code.jpg");
}

.aboutme-body {
  background-image: url("../images/aboutme.jpg");
}

.blog-body {
  background-image: url("../images/blog.jpg");
}

body {
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.main-home {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-home .title-box-home {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, rgba(37, 37, 37, 0.82)), color-stop(30%, black), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(37, 37, 37, 0.82) 10%, black 30%, black 100%);
  margin: 5% 0% 10% 30%;
  text-align: center;
  border-radius: .3em;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-left: 30px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-home .title-box-home .sub-title {
  letter-spacing: 0.05rem;
}

.main-home .page-link {
  text-align: center;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.82)), color-stop(45%, black), color-stop(55%, black), to(rgba(37, 37, 37, 0.82)));
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.82) 0%, black 45%, black 55%, rgba(37, 37, 37, 0.82) 100%);
  height: 100px;
  margin-top: 50px;
  -webkit-box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: letter-spacing 1s;
  transition: letter-spacing 1s;
}

.main-home .page-link:hover {
  letter-spacing: .5rem;
}

.main-home .page-link a {
  text-decoration: none;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.title-box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.82)), color-stop(45%, black), color-stop(55%, black), to(rgba(37, 37, 37, 0.82)));
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.82) 0%, black 45%, black 55%, rgba(37, 37, 37, 0.82) 100%);
  -webkit-box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
  width: 300px;
  margin: 25px auto 25px;
  border-radius: .2em;
  font-size: 2em;
  text-align: center;
}

.main-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  text-align: center;
}

.main-basic article {
  border-radius: .7em;
  -webkit-box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 9px 5px -1px rgba(0, 0, 0, 0.26);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.82)), color-stop(45%, black), color-stop(55%, black), to(rgba(37, 37, 37, 0.82)));
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.82) 0%, black 45%, black 55%, rgba(37, 37, 37, 0.82) 100%);
  margin: 35px auto;
  width: 80%;
  padding: 0px 10px 20px 10px;
}

.main-basic article h3 {
  padding: 5px;
}

.main-basic article img {
  max-width: 90%;
}

.main-basic article p {
  max-width: 90%;
  margin: auto;
  text-align: left;
}

#about-me {
  width: 90%;
}

#about-me .video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

#about-me .video-container iframe {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-basic .collapsible {
  border-radius: .7em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.82)), color-stop(45%, black), color-stop(55%, black), to(rgba(37, 37, 37, 0.82)));
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.82) 0%, black 45%, black 55%, rgba(37, 37, 37, 0.82) 100%);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  -webkit-transition: letter-spacing 1s;
  transition: letter-spacing 1s;
}

.main-basic .active,
.main-basic .collapsible:hover {
  letter-spacing: .1rem;
}

.main-basic .blogpost {
  padding: 0px;
}

.main-basic .blogpost .content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.main-basic .blogpost .content img {
  padding: 10px 10px 10px 0px;
}

.main-basic .blogpost .content ol {
  list-style-position: inside;
  padding-left: 5%;
}

.main-basic .blogpost .content ol li {
  text-align: left;
}

.main-basic .blogpost .content .video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.main-basic .blogpost .content .video-container iframe {
  padding: 10px 5% 10px 5%;
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.82)), color-stop(45%, black), color-stop(55%, black), to(rgba(37, 37, 37, 0.82)));
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.82) 0%, black 45%, black 55%, rgba(37, 37, 37, 0.82) 100%);
  height: 100px;
}

footer #icons {
  width: 200px;
  margin: auto;
}

footer #icons a {
  margin: 0px 16px 0px;
}

footer address {
  width: 300px;
  margin: 0px auto 30px;
}

footer address a {
  padding: 5px;
}

@media screen and (min-width: 600px) {
  #hamnav label,
  #navigation-menu {
    display: none;
  }
  #hamitems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #hamitems li {
    width: 16.666%;
  }
}

@media screen and (min-width: 900px) {
  header .title-box-home {
    margin: 5% 0% 10% 45%;
  }
  .main-basic {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-basic article {
    max-width: 45%;
  }
  .main-basic .blogpost {
    max-width: 95%;
  }
  .main-basic .blogpost .content img {
    width: 51%;
    float: left;
    padding: 10px 20px 10px 5%;
  }
  .main-basic #about-me {
    max-width: 75%;
  }
  .main-basic #about-me .video-container {
    width: 60%;
    float: left;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */