@import 'partials/_fonts';
@import 'partials/_variables';
@import 'partials/_mixins';




@include initialize; // Basic styleguides for all pages
@include paralax; // Only for home screen - paralax effect: background scrolls slower
@include nav; // Navigation bar including hamburger/dropdown menu




// Different background images for each page
.web-body {
  background-image: url("../images/web.jpg");
}

.code-body {
  background-image: url("../images/code.jpg");
}

.aboutme-body {
  background-image: url("../images/aboutme.jpg");
}

.blog-body {
  background-image: url("../images/blog.jpg");
}




// Background images to remain fixed (except home page)
body {
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}





// Home page main content - has different styling from the other pages
.main-home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // Home page title box
  .title-box-home {
    background: $gradient-h;
    margin: 5% 0% 10% 30%;
    text-align: center;
    border-radius: .3em;
    font-size: 2rem;
    letter-spacing: 1rem;
    padding-left: 30px;

    // Title box fade in when landing on home page
    animation-name: fade-in;
    animation-duration: 4s;

    @keyframes fade-in {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    // Portfolio sub heading has standard spacing
    .sub-title {
      letter-spacing: 0.05rem;
    }
  }

  // Boxes containing the links for the other pages
  .page-link {
    text-align: center;
    vertical-align: middle;
    background: $gradient;
    height: 100px;
    margin-top: 50px;
    box-shadow: $box-shadow;
    display: flex;
    transition: letter-spacing 1s; // Letters disperse when hovered over

    &:hover {
      letter-spacing: .5rem;
    }

    a {
      text-decoration: none;
      margin: auto;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}




// All pages except the home page
.title-box {
  // Basic pages h1 title boxes
  background: $gradient;
  box-shadow: $box-shadow;
  width: 300px;
  margin: 25px auto 25px;
  border-radius: .2em;
  font-size: 2em;
  text-align: center;
}

// Basic layout for all content in all pages except home page
.main-basic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;

  // Basic styling for all articles
  article {
    border-radius: .7em;
    box-shadow: $box-shadow;
    background: $gradient;
    margin: 35px auto;
    width: 80%;
    padding: 0px 10px 20px 10px;

    // Heading for articles
    h3 {
      padding: 5px;
    }

    // Images for articles
    img {
      max-width: 90%;
    }

    // Text for articles
    p {
      max-width: 90%;
      margin: auto;
      text-align: left;
    }
  }
}




// About me page
#about-me {
  width: 90%;

  // container to make video responsive
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;

    // Video you-tube link
    iframe {
      position: absolute;
      border: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}




// Blog page 
.main-basic {
  .collapsible {
    // Blog buttons
    border-radius: .7em;
    background: $gradient;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    transition: letter-spacing 1s;
  }

  .active,
  .collapsible:hover {
    letter-spacing: .1rem; // Letters disperse when hovered over
  }

  // Larger container for each blog post  
  .blogpost {
    padding: 0px;

    // Drop down container
    .content {
      padding: 0px 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      // All blog images
      img {
        padding: 10px 10px 10px 0px;
      }

      // line up ol with the rest of the p content
      ol {
        list-style-position: inside;
        padding-left: 5%;

        li {
          text-align: left;
        }
      }

      // Container to make video responsive
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;

        // Video you-tube link
        iframe {
          padding: 10px 5% 10px 5%;
          position: absolute;
          border: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}




// All footers
footer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background: $gradient;
  height: 100px;


  // Social media icons
  #icons {
    width: 200px;
    margin: auto;

    a {
      margin: 0px 16px 0px;
    }
  }

  // Phone and email details
  address {
    width: 300px;
    margin: 0px auto 30px;

    a {
      padding: 5px;
    }
  }
}


// Tablet size
@media screen and (min-width: 600px) {
  @include drop-down-menu; // Navigation menu becomes row
}




// Desktop size
@media screen and (min-width: 900px) {
  header {
    .title-box-home {
      // Home page title box
      margin: 5% 0% 10% 45%;
    }
  }

  // Multiple columns when size is big enough - applies to web and code pages
  .main-basic {
    flex-wrap: wrap;
    flex-direction: row;

    // Articles become 2 rows
    article {
      max-width: 45%;
    }

    // Larger screens on blog page
    .blogpost {
      // Needs to be large or dropdown doesn't work
      max-width: 95%;

      // Blog images float to the left
      .content {
        img {
          width: 51%;
          float: left;
          padding: 10px 20px 10px 5%;
        }
      }
    }

    // Larger screens on about me page 
    #about-me {
      max-width: 75%;

      // Video box floats left
      .video-container {
        width: 60%;
        float: left;
        margin-right: 20px;
      }
    }
  }
}