@import 'partials/_fonts';
@import 'partials/_variables';
@import 'partials/_mixins';


@include initialize;

body {
  font-family: 'Abel', sans-serif;
  color: $white;
}
@include paralax;

@include nav;

header {
  .title-box-home { 
  //Home page title box
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, $transparent_grey 10%, $black 30%, $black 100%);
  margin-left: 30%;
  margin-right: 0px;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  border-radius: .3em;
  animation-name: fade-in;
  animation-duration: 4s;

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.5em;
  }

  h2 {
    font-size: 2rem;
  }
}
  .title-box {
    //basic title box
    text-align: center;
    vertical-align: middle;
    background: $gradient;
    box-shadow: $box-shadow;
    display: flex;
    transition: letter-spacing 1s;
    width: 300px;
    margin: 25px auto 25px;
    text-align: center;
    border-radius: .2em;

    h1 {
      font-size: 2rem;
      margin: auto;
      text-align: center;
    }

  }
}


.main-basic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;

  section {

    article {
      border-radius: .7em;
      box-shadow: $box-shadow;
      background: $gradient;
      margin: 35px auto;
      width: 80%;

      h3 {
        padding: 5px;
        color: $white;
      }

      img {
        max-width: 90%;
      }

      p {
        max-width: 90%;
        text-align: center;
        margin: auto;

      }
    }
  }
}

@include main-home;

@include footer;

// Tablet and above size
@media screen and (min-width: 600px) {
  @include drop-down-menu;

  .main-basic {

    section {
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 45%;

      }
    }
  }
}