@import 'partials/_fonts';
@import 'partials/_variables';
@import 'partials/_mixins';


@include initialize;

@include body("../images/back2.jpg");

@include nav;

header {
  .title-box {
    @include page-link($height: 70px);
    width: 300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: .2em;

    h1 {
      font-size: 2rem;
      margin: auto;
      text-align: center;
    }

  }
}

body {
    display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    text-align: center;

    article {
        margin:auto;
        width: 50%;
        background-color: $grey;
        img {
            max-width: 90%;
        }
    }
}

@include footer;

// Tablet and above size
@media screen and (min-width: 600px) {
  @include drop-down-menu;
}