@import 'partials/_fonts';
@import 'partials/_variables';
@import 'partials/_mixins';


@include initialize;

@include body("../images/back2.jpg");

@include nav;

header {
  .title-box {

    @include page-link($height: 70px);
    width: 300px;
    margin: 25px auto 25px;
    text-align: center;
    border-radius: .2em;

    h1 {
      font-size: 2rem;
      margin: auto;
      text-align: center;
    }

  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;

  section {

    article {
      border-radius: .7em;
      box-shadow: $box-shadow;
      background: $gradient;
      margin: 35px auto;
      width: 80%;

      h3 {
        padding: 5px;
        color: $white;
      }

      img {
        max-width: 90%;
      }

      p {
        max-width: 90%;
        text-align: center;
        margin: auto;

      }
    }
  }
}

@include footer;

// Tablet and above size
@media screen and (min-width: 600px) {
  @include drop-down-menu;

  main {

    section {
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 45%;

      }
    }
  }
}





.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}